:root {
    --white-clr: #fff;
    --black-clr: #333;
}

body {
    padding: 25px;
    background-color: var(--white-clr);
    color: var(--black-clr);
    font-size: 25px;
}

.dark-mode {
    background-color: var(--black-clr);
    color: var(--white-clr);
}

button {
    cursor: pointer;
}